@import 'code';
@import 'inputs';
@import 'lists';
@import 'other';
@import 'tables';
@import 'vars';

.markdown {
  display: block;
  overflow: hidden;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
    sans-serif;
  word-wrap: break-word;
  border-radius: 3px;
  padding: 20px;
  color: white;
  width: 100%;
  font-size: 1.2em;
  max-width: 900px;

  @include md {
    width: 66%;
  }

  @include code();
  @include inputs();
  @include lists();
  @include other();
  @include tables();
}
